<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home - Sweet Store{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8cf526e3ce.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Sweet Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Order History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- 第一塊section -->
    <section id="intro">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-4" style="color: yellow;">歡迎來到比奇堡~~</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 第二塊section -->
    <section id="second">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h3>比奇堡米其林</h3>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                {% load static %}
                                <img src="{% static 'img/sponge.png' %}">
                                <h5>主廚 Shiva</h5>
                            </div>
                            <div class="col-md-8 text-left">
                                <p class="lead">本店的大廚來自深海的一流大廚，為每位客戶獻上最美味的甜點</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-4">
        <h1>Sweet List</h1>
        <div class="row">
            {% for sweet in sweets %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ sweet.image.url }}" class="card-img-top" alt="{{ sweet.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ sweet.name }}</h5>
                        <p class="card-text">${{ sweet.price }}</p>
                        <a href="{% url 'order' %}" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
